*{
    margin: 0%;
    padding: 0%;
}

.main-section{
    padding: 20px;
}

header{
    border: 1px solid black;
    height: 80px;
    position: sticky;
    margin: auto;
}

.greeting-sec{
    border: 1px solid black;
    padding: 30px;
}
.cards-section{
    display: flex;
    margin-top: 30px;
}

.weather-sec{
    border: 1px solid black;
    width: 400px;
    height: 500px;
}

.news-sec{
    border: 1px solid black;
    
}