* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  /* Main Colors */
  --bg-primary: #dfe5ff;
  --bg-secondary: #f8f9ff;
  --bg-dark: #0d0d0d;

  /* Text Colors */
  --text-primary: #111111;
  --text-secondary: #667085;
  --text-accent: #5068c9;
  --text-light: #ffffff;

  /* Buttons */
  --btn-primary-bg: #111111;
  --btn-primary-text: #ffffff;
  --btn-secondary-border: #5068c9;
  --btn-secondary-text: #5068c9;

  /* Cards & Containers */
  --card-bg: #ffffff;
  --card-shadow: rgba(17, 17, 17, 0.08);

  /* Borders */
  --border-light: #d0d7f2;

  /* Gradients */
  --gradient-primary: linear-gradient(135deg,
      #dfe5ff 0%,
      #eef2ff 50%,
      #c9d5ff 100%);

  /* Typography */
  --font-primary: 'Poppins', sans-serif;

  /* Radius */
  --radius-lg: 28px;
  --radius-md: 18px;
  --radius-sm: 12px;

  /* Shadows */
  --shadow-soft: 0 8px 30px rgba(80, 104, 201, 0.08);
  --shadow-card: 0 10px 35px rgba(0, 0, 0, 0.08);

  /* Transition */
  --transition: all 0.3s ease-in-out;
}

body {
  background: var(--bg-primary);
}

/* ====================================================================
========================= PRODUCT PAGE ================================
=======================================================================*/
.product-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-sec {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header {
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  border-bottom: 1px solid #ddd;
  font-size: 30px;
  font-weight: bold;
  background: transparent;
}

/* FILTER SECTION  */

.filter-sec {
  background: var(--bg-secondary);
  /* border: 1px solid black; */
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  padding: 25px;

  position: sticky;
  top: 40px;

  align-self: flex-start;

  overflow-y: auto;

  max-height: calc(100vh - 120px);

  flex-shrink: 0;
  box-shadow: var(--shadow-card);

}

.filter-head-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  margin-bottom: 10px;
  color: var(--text-secondary);
}

#filter-clear-btn {
  background: transparent;
  border: none;
  color: var(--btn-secondary-text);
  font-size: 14px;
}

#filter-clear-btn:hover {
  cursor: pointer;
}

.filter-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-list label {
  width: 100px;
  color: var(--text-secondary);
}

.filter-down {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price-values {
  display: flex;
  justify-content: space-between;
}

#priceSlider {
  width: 100%;
  cursor: pointer;
}

.sort-filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#sort-topics {
  width: 100%;
  padding: 10px;
  border-radius: var(--radius-lg);
  outline: none;
}

.rating-filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rating-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* PRODUCT CARD */

.product-sec {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100%;
  padding: 0px 30px 0px 30px;
}

.product-sec-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px;
}

#product-sec-headline-text {
  font-size: 45px;
}


.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card {
  width: 250px;
  height: 100%;
  background: var(--bg-secondary);
  border-radius: 23px;
  overflow: hidden;
  box-shadow: var(--shadow-card);
}


.product-img-box {
  position: relative;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.product-card-wishlist {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: white;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
}


.product-content {
  padding: 10px 20px 20px 20px;
}

.product-content h2 {
  font-size: 22px;
}

.product-category {
  font-size: 14px;
}


.product-card-rating {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.product-card-rating span {
  color: var(--text-secondary);
}


.product-content h1 {
  color: var(--text-primary)
}


.product-card-btns {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}


.add-btn {
  flex: 1;
  padding: 10px;
  background: var(--btn-primary-bg);
  color: white;
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
}


.view-btn {
  flex: 1;
  padding: 10px;
  background: var(--bg-primary);
  border: none;
  border-radius: var(--radius-md);
  color: #64748b;
  cursor: pointer;
}

.add-btn:hover {
  cursor: pointer;
  transform: scale(1.04);
  box-shadow: var(--card-shadow);
}

.view-btn:hover {
  cursor: pointer;
  box-shadow: var(--shadow-card);
  transform: scale(1.04);
}

/* QUICK VIEW SECTION */


/* FOR BLUR OF BACKGROUND AFTER POPUP OPENS */
body.modal-open .main-sec {
  filter: blur(6px);
  pointer-events: none;
  user-select: none;
  transition: .3s;
  opacity: .4;

}



.quick-view-sec {
  width: 500px;
  padding: 40px;
  background-color: var(--bg-primary);
  border-radius: var(--radius-lg);

  position: fixed;
  top: 30%;
  left: 35%;
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  animation: popup 1.5s ease;


}

@keyframes popup {

  from {
    transform: scale(.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }

}


.quick-view-sec.active {
  opacity: 1;
  visibility: visible;
}


.quick-view-main-sec {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quick-view-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#quick-view-close-btn {
  border: none;
  background: transparent;
  font-size: 16px;
}

.quick-view-specifications {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quick-view-specifications-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quick-view-specifications-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.spec {
  background: var(--bg-secondary);
  border-radius: var(--radius-sm);
  padding: 10px;
  width: 200px;
}

.spec h3 {
  font-size: 14px;
}


@media(max-width:768px) {

  /* PRODUCT PAGE RESPONSIVENESS  */

  .main-sec {
    padding: 0px;
  }

  .filter-sec {
    display: none;
  }

  .product-sec {
    border: 1px solid black;
    padding: 10px;
  }

  #product-sec-headline-text {
    font-size: 30px;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .product-card {
    width: 178px;
    height: 100%;
    border-radius: 18px;
  }


  .product-card-wishlist {
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    font-size: 14px;
  }


  .product-content {
    padding: 0px 10px 10px 10px;
  }

  .product-content h2 {
    font-size: 15px;
  }

  .product-category {
    font-size: 10px;
  }


  .product-card-rating {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .product-card-btns {
    margin-top: 10px;
    gap: 10px;
  }


  .add-btn {
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
  }


  .view-btn {
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
  }



  .quick-view-sec {
    width: 300px;
    padding: 15px;
    top: 20%;
    left: 13%;
    border-radius: 20px
  }

  .quick-view-main-sec p {
    font-size: 14px;
  }

  .quick-view-head h2 {
    font-size: 20px;
  }

  #quick-view-close-btn {
    border: none;
    background: transparent;
    font-size: 13px;
  }

  .quick-view-specifications {
    flex-direction: column;
    gap: 15px;
  }

  .spec {
    padding: 10px;
    width: 270px;
  }


}